$colors: (
	common: (
		white: #ffffff,
		black: #000000,
	),
	heading: (
		primary: #0a1931,
	),
	text: (
		body: #334155,
		body-2: #64748b,
		body-3: #475569,
		body-4: #0f172a,
		body-5: #ffffffcc,
	),
	theme: (
		primary: #10b981,
		bg: #f0fdf4,
		bg-2: #dcfce7,
		bg-3: #0a1931,
		dark: #0a1931,
		dark-2: #050b14,
		dark-3: #1e293b,
		dark-4: #475569,
		dark-5: #64748b,
	),
	red: (
		1: #ef4444,
	),
	grey: (
		1: #f8fafc,
		2: #94a3b8,
		3: #ffffff1a,
	),
	border: (
		1: #e2e8f0,
		2: #334155,
		3: #ffffff26,
		4: #ffffff33,
		5: #10b98126,
	),
);
