@use "../utilities" as *;

/**----------------------------------------
START: Theme Footer CSS
----------------------------------------*/
.tj-footer-section {
	background-color: var(--tj-color-theme-bg);
	position: relative;
	z-index: 1;
	padding-top: 195px;
	border-radius: 0;
	overflow: hidden;
	@media #{$xl} {
		padding-top: 150px;
	}
	@media #{$lg} {
		padding-top: 135px;
	}
	@media #{$md} {
		padding-top: 320px;
	}
	@media #{$sm, $xs} {
		padding-top: 270px;
		margin-bottom: 0;
		border-end-start-radius: 0;
		border-end-end-radius: 0;
	}
}
.footer-main-area {
	position: relative;
	padding: 100px 0 90px 0;
	@media #{$sm, $xs} {
		padding: 70px 0;
	}
}
.footer-logo {
	max-width: 150px;
}
.award-logo-area {
	display: flex;
	flex-wrap: wrap;
	gap: 18px;
	.award-logo {
		max-width: 96px;
	}
}

.footer-widget {
	.footer-text {
		max-width: 280px;
		width: 100%;
		p {
			margin-top: 28px;
			margin-bottom: 34px;
			@media #{$md, $sm, $xs} {
				margin-bottom: 20px;
			}
		}
		@media #{$sm, $xs} {
			max-width: 100%;
		}
	}
	.title {
		font-weight: var(--tj-fw-sbold);
		margin-bottom: 33px;
		@media #{$md, $sm, $xs} {
			margin-bottom: 18px;
		}
	}
	&.footer-col-1 {
		.footer-text {
			p {
				color: var(--tj-color-text-body-2);
			}
		}
		@media #{$sm, $xs} {
			margin-bottom: 10px;
		}
	}
}

.social-links {
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		li {
			a {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 28px;
				height: 28px;
				border-radius: 50%;
				background-color: rgba(12, 30, 33, 0.3);
				font-size: 16px;
				line-height: 1;
				i {
					color: var(--tj-color-theme-bg);
				}
				&:hover {
					background-color: var(--tj-color-theme-primary);
					transform: translateY(-3px);
					i {
						color: var(--tj-color-common-white);
					}
				}
			}
			&::after {
				display: none;
			}
		}
	}

	&.style-2 {
		ul {
			li {
				a {
					background-color: var(--tj-color-common-white);
					opacity: 0.4;
					i {
						color: var(--tj-color-theme-primary);
					}
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	&.style-3 {
		ul {
			li {
				a {
					background-color: var(--tj-color-common-white);
					opacity: 0.3;
					i {
						color: var(--tj-color-theme-dark);
					}
					&:hover {
						background-color: var(--tj-color-theme-primary);
						opacity: 1;
						i {
							color: var(--tj-color-common-white);
						}
					}
				}
			}
		}
	}
}

.widget-nav-menu {
	padding-inline-start: 40px;
	ul {
		list-style: none;
		li {
			padding: 6px 0;
			&:first-child {
				padding-top: 0;
			}
			a {
				color: var(--tj-color-text-body);
				display: inline-flex;
				align-items: center;
				gap: 4px;
				transform: translateX(0);
				.badge {
					font-size: 10px;
					text-transform: uppercase;
					color: var(--tj-color-common-white);
					background-color: var(--tj-color-theme-primary);
					border-radius: 50px;
					padding: 3px 6px 4px;
				}
				&:hover {
					color: var(--tj-color-theme-primary);
					transform: translateX(5px);
				}
			}
		}
	}
	@media #{$xl} {
		padding-inline-start: 20px;
	}
	@media #{$lg} {
		padding-inline-start: 80px;
	}
	@media #{$md, $sm, $xs} {
		padding-inline-start: 0;
	}
	@media #{$sm, $xs} {
		margin-top: 30px;
	}
	&.footer-col-3,
	&.footer-col-2 {
		padding-inline-start: 115px;

		@media #{$xl, $lg, $md} {
			padding-inline-start: 70px;
		}
		@media #{$sm, $xs} {
			margin-top: 30px;
			padding-inline-start: 0;
		}
	}
	&.footer-col-3 {
		padding-inline-start: 120px;
		@media #{$xl} {
			padding-inline-start: 80px;
		}
		@media #{$lg, $md, $sm, $xs} {
			margin-top: 30px;
			padding-inline-start: 0;
		}
	}
}

.widget-subscribe {
	max-width: 350px;
	width: 100%;
	margin-inline-start: auto;
	.title {
		margin-bottom: 25px;
		font-weight: var(--tj-fw-medium);
	}
	@media #{$lg, $md} {
		margin-inline-start: 0;
		margin-top: 30px;
	}
	@media #{$sm, $xs} {
		max-width: 100%;
		margin-inline-start: 0;
		margin-top: 30px;
	}
}
.subscribe-form {
	position: relative;
	input[type="email"] {
		height: 64px;
		padding: 15px 60px 15px 25px;
		border: 0;
		border-radius: 8px;
		outline: 1px solid transparent;
		&:focus {
			outline-color: var(--tj-color-theme-primary);
		}
	}
	input[type="checkbox"] {
		position: relative;
		margin-inline-end: 8px;
		width: 18px;
		height: 18px;
		border: 1px solid var(--tj-color-theme-dark);
		border-radius: 3px;
		-webkit-appearance: none;
		appearance: none;
		cursor: pointer;

		&::before {
			content: "\e911";
			font-size: 10px;
			line-height: 1;
			font-family: "bexon-icons" !important;
			color: var(--tj-color-common-white);
			position: absolute;
			width: 100%;
			text-align: center;
			line-height: 16px;
			transform: scale(0.5);
			opacity: 0;
			transition: all 0.3s ease-in-out;
		}
		&:checked {
			background-color: var(--tj-color-theme-dark);
			&::before {
				transform: scale(1);
				opacity: 1;
			}
		}
	}
	button {
		position: absolute;
		width: 64px;
		height: 64px;
		inset-inline-end: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 26px;
		line-height: 1;
		color: var(--tj-color-theme-primary);

		i {
			line-height: 1;
			display: inline-flex;
			transition: all 0.3s linear;
		}
		&:hover,
		&:focus {
			i {
				transform: scale(0.8);
			}
		}
		&::before {
			content: "";
			position: absolute;
			inset-inline-start: 0;
			top: 20px;
			height: 24px;
			border-inline-start: 1px solid var(--tj-color-border-1);
		}
	}
	label {
		color: var(--tj-color-text-body);
		margin-top: 20px;
		display: inline-flex;
		align-items: center;
		a {
			color: var(--tj-color-theme-dark);
			font-weight: var(--tj-fw-sbold);
			margin-inline-start: 4px;
			&:hover {
				color: var(--tj-color-theme-primary);
			}
		}
	}
	@media #{$md, $sm, $xs} {
		margin-top: 18px;
	}
}

.copyright-content-area {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	padding: 20px 0;
	.footer-contact {
		ul {
			list-style: none;
			line-height: 1;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 22px;
			li {
				a {
					display: inline-flex;
					align-items: center;
					gap: 7px;
					color: var(--tj-color-text-body);
					.icon {
						display: inline-flex;
						align-items: center;
						justify-content: center;
						width: 28px;
						height: 28px;
						border-radius: 50%;
						background-color: var(--tj-color-theme-primary);
						font-size: 28px;
						line-height: 1;
						i {
							color: var(--tj-color-common-white);
						}
					}
					.text {
						position: relative;
						&::before {
							content: "";
							position: absolute;
							bottom: -2px;
							inset-inline-start: auto;
							inset-inline-end: 0;
							width: 0;
							height: 1px;
							background-color: var(--tj-color-text-body);
							-webkit-transition: all 0.3s ease-in-out 0s;
							transition: all 0.3s ease-in-out 0s;
						}
					}
					&:hover {
						.text {
							&::before {
								width: 100%;
								inset-inline-start: 0;
								inset-inline-end: auto;
							}
						}
					}
				}
			}
		}
		@media #{$sm, $xs} {
			width: 100%;
		}
	}
	.social-links {
		ul {
			@media #{$sm, $xs} {
				justify-content: center;
			}
		}
		@media #{$sm, $xs} {
			width: 100%;
		}
	}
	.copyright-text {
		p {
			margin: 0;
		}
		a {
			color: var(--tj-color-common-black);
			&:hover {
				color: var(--tj-color-theme-primary);
			}
		}
		@media #{$sm, $xs} {
			width: 100%;
			text-align: center;
		}
	}
	.copyright-menu {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: center;
			li {
				position: relative;
				margin-inline-end: 13px;
				padding-inline-end: 12px;
				z-index: 1;
				&::before {
					content: "";
					background: var(--tj-color-border-2);
					position: absolute;
					width: 1px;
					height: 11px;
					top: 50%;
					inset-inline-end: 0;
					transform: translateY(-50%);
				}
				a {
					font-size: 16px;
					font-weight: var(--tj-fw-regular);
					color: var(--tj-color-text-body-2);
					&:hover {
						color: var(--tj-color-common-white);
					}
				}
				&:last-child {
					padding-inline-end: 0;
					margin-inline-end: 0;
					&::before {
						display: none;
					}
				}
			}
		}
		@media #{$sm, $xs} {
			width: 100%;
		}
	}
	@media #{$md, $sm, $xs} {
		gap: 18px;
	}
}
.tj-copyright-area {
	padding-bottom: 30px;
	.copyright-content-area {
		border-top: 1px solid var(--tj-color-border-1);
		border-bottom: 1px solid var(--tj-color-border-1);
		padding: 20px 0;
	}
}

// footer 2
.tj-footer-section {
	&.footer-2 {
		background-color: var(--tj-color-theme-dark);
		padding-top: 100px;
		.footer-widget {
			.title {
				color: var(--tj-color-common-white);
			}
			ul {
				li {
					a {
						color: var(--tj-color-text-body-2);
						&:hover {
							color: var(--tj-color-theme-primary);
						}
					}
				}
			}
		}
		.footer-col-1 {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				bottom: -160px;
				inset-inline-start: -50px;
				width: 350px;
				height: 300px;
				border-radius: 50%;
				background: var(--tj-color-theme-primary);
				-webkit-filter: blur(50px);
				filter: blur(50px);
				opacity: 0.15;
				z-index: -1;
			}
		}
		@media #{$md, $sm, $xs} {
			padding-top: 60px;
		}
	}
}
.footer-subscribe {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	padding: 40px 50px;
	border-radius: 12px;
	.subscribe-form {
		width: 49%;
		input[type="email"] {
			color: var(--tj-color-text-body-2);
			background-color: transparent;
			backdrop-filter: blur(10px);
			border-radius: 50px;
			padding: 5px 205px 5px 30px;
			outline: 1px solid transparent;
			@media #{$xs} {
				padding: 5px 24px 5px;
			}
			&::placeholder {
				transition: all 0.3s;
				color: var(--tj-color-text-body-2);
			}
			&:focus {
				outline-color: var(--tj-color-theme-primary);
			}
		}
		button {
			width: auto;
			height: auto;
			top: 6px;
			inset-inline-end: 8px;
			font-size: 16px;
			font-weight: var(--tj-fw-sbold);
			@media #{$xs} {
				position: static;
				margin-top: 20px;
			}
			&::before {
				display: none;
			}
		}
		@media #{$md} {
			width: 70%;
			margin-top: 0;
		}
		@media #{$sm, $xs} {
			width: 100%;
			margin-top: 0;
		}
	}
	@media #{$md, $sm, $xs} {
		padding: 30px 20px;
	}
}
.subscribe-logo {
	max-width: 225px;
	@media #{$md, $sm, $xs} {
		max-width: 160px;
	}
}

.widget-contact {
	padding-inline-start: 76px;
	.title {
		color: var(--tj-color-common-white);
	}
	@media #{$xl} {
		padding-inline-start: 30px;
	}
	@media #{$lg, $md} {
		margin-top: 30px;
		padding-inline-start: 70px;
	}
	@media #{$sm, $xs} {
		margin-top: 30px;
		padding-inline-start: 0;
	}
}
.footer-contact-info {
	max-width: 230px;
	width: 100%;
	.contact-item {
		margin-bottom: 14px;
		&:last-child {
			margin-bottom: 0;
		}
		span {
			color: var(--tj-color-text-body-2);
			display: inline-flex;
			align-items: center;
			gap: 8px;
			i {
				font-size: 20px;
				color: var(--tj-color-theme-primary);
				display: inline-flex;
				line-height: 1;
			}
		}
		a {
			color: var(--tj-color-common-white);
			font-weight: var(--tj-fw-sbold);
			display: inline-flex;
			margin-bottom: 3px;
			&:hover {
				color: var(--tj-color-theme-primary);
			}
		}
	}
}

.footer-marquee {
	border-top: 1px dashed var(--tj-color-border-2);
	border-bottom: 1px dashed var(--tj-color-border-2);
	.marquee-text {
		opacity: 0.2;
		&:hover {
			opacity: 0.7;
		}
	}
}
.tj-copyright-area-2 {
	.copyright-content-area {
		padding: 25px 0;
	}
	.copyright-text {
		p {
			color: var(--tj-color-text-body-2);
		}
		a {
			color: var(--tj-color-common-white);
			&:hover {
				color: var(--tj-color-theme-bg);
			}
		}
	}
}

// footer 3
.tj-footer-section {
	&.footer-3 {
		background-color: var(--tj-color-theme-dark);
		position: relative;
		z-index: 1;
		padding-top: 0;
		.footer-main-area {
			padding-top: 120px;
			padding-bottom: 110px;
			@media #{$lg} {
				padding-top: 100px;
				padding-bottom: 90px;
			}
			@media #{$md, $sm, $xs} {
				padding-top: 70px;
				padding-bottom: 60px;
			}
		}
		.footer-widget {
			.title {
				color: var(--tj-color-common-white);
			}
			ul {
				li {
					a {
						color: var(--tj-color-text-body-2);
						&:hover {
							color: var(--tj-color-theme-primary);
						}
					}
				}
			}
		}
	}
}
.footer-bottom-area {
	padding-bottom: 50px;
}
.widget-subscribe-2 {
	max-width: 850px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	padding: 40px 30px;
	border-radius: 12px;
	margin-inline-start: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 50px;
	.title {
		color: var(--tj-color-common-white);
		max-width: 250px;
		width: 100%;
		margin-bottom: 25px;
		font-weight: var(--tj-fw-medium);
	}
	.subscribe-form {
		flex: 1;
		input[type="email"] {
			background-color: transparent;
			backdrop-filter: blur(10px);
			border-radius: 10px;
			color: var(--tj-color-text-body-2);
			outline: 1px solid transparent;
			&::placeholder {
				transition: all 0.3s;
				color: var(--tj-color-text-body-2);
			}
			&:focus {
				outline-color: var(--tj-color-theme-primary);
			}
		}
		button {
			&::before {
				border-color: var(--tj-color-theme-dark-4);
			}
		}
		input[type="checkbox"] {
			border: 1px solid var(--tj-color-text-body-2);
			&::before {
				color: var(--tj-color-theme-dark);
			}
			&:checked {
				background-color: var(--tj-color-common-white);
				border-color: var(--tj-color-common-white);
			}
		}
		label {
			color: var(--tj-color-text-body-2);
			a {
				color: var(--tj-color-common-white);
				&:hover {
					color: var(--tj-color-theme-primary);
				}
			}
		}
		@media #{$md, $sm, $xs} {
			margin-top: 0;
			flex-basis: auto;
		}
	}
	@media #{$xl} {
		max-width: 760px;
	}
	@media #{$lg} {
		padding: 30px 20px;
	}
	@media #{$md, $sm, $xs} {
		max-width: 100%;
		margin-inline-start: 0;
		margin-top: 30px;
		padding: 30px 20px;
		gap: 0;
	}
}
.tj-copyright-area-3 {
	background-color: var(--tj-color-theme-primary);
	.copyright-content-area {
		justify-content: center;
		padding: 25px 0;
	}
	.copyright-text {
		p {
			color: var(--tj-color-common-white);
		}
		a {
			color: var(--tj-color-common-white);
			&:hover {
				color: var(--tj-color-theme-bg);
			}
		}
	}
}

/* !END: Theme Footer CSS */
